.home{
 background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url("./Images/bg-img.png");
 height: 100%;
 width: 100%;
 position: absolute;
}

.news-heading{

}

.news-content{
}

